In [4]:
# import the needed libraries and datasets
import pandas as pd 
import numpy as np

**26.** You have a DataFrame that consists of 10 columns of floating--point numbers. Suppose that exactly 5 entries in each row are NaN values. For each row of the DataFrame, find the *column* which contains the *third* NaN value.

(You should return a Series of column labels. Try not to use `.iterrows()`)

In [5]:
data = {
1:[np.nan,2,np.nan,4,5],
2:[np.nan,2,3,np.nan,5],
3:[np.nan,2,np.nan,4,5],
4:[1,np.nan,3,np.nan,np.nan],
5:[1,2,np.nan,4,5],
6:[1,np.nan,3,np.nan,np.nan],
7:[1,2,3,4,5],
8:[1,np.nan,3,np.nan,np.nan],
9:[1,2,3,4,np.nan],
10:[1,np.nan,3,4,5]}

In [7]:
df = pd.DataFrame(data)
print("Original dataframe:\n", df)

mod_df = df.isnull()
mod_df = mod_df.cumsum(axis=1)
print("\nCumsum for True values:\n", mod_df)
mod_df = (mod_df == 3).idxmax(axis = 1)

print("\nIndices: \n", mod_df)

Original dataframe:
     1    2    3    4    5    6   7    8    9    10
0  NaN  NaN  NaN  1.0  1.0  1.0   1  1.0  1.0  1.0
1  2.0  2.0  2.0  NaN  2.0  NaN   2  NaN  2.0  NaN
2  NaN  3.0  NaN  3.0  NaN  3.0   3  3.0  3.0  3.0
3  4.0  NaN  4.0  NaN  4.0  NaN   4  NaN  4.0  4.0
4  5.0  5.0  5.0  NaN  5.0  NaN   5  NaN  NaN  5.0

Cumsum for True values:
    1   2   3   4   5   6   7   8   9   10
0   1   2   3   3   3   3   3   3   3   3
1   0   0   0   1   1   2   2   3   3   4
2   1   1   2   2   3   3   3   3   3   3
3   0   1   1   2   2   3   3   4   4   4
4   0   0   0   1   1   2   2   3   4   4

Indices:
 0    3
1    8
2    5
3    6
4    8
dtype: int64

**27.** A DataFrame has a column of groups 'grps' and and column of numbers 'vals'. For example: 

```python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```
For each *group*, find the sum of the three greatest values.

In [8]:
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})

df.groupby('grps')['vals'].nlargest(3).sum(level=0)

grps
a    409
b    156
c    345
Name: vals, dtype: int64